@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSans_24pt-Bold';
  src: url('./assets/fonts/DMSans_24pt-Bold.ttf');
}

@font-face {
  font-family: 'DMSans_24pt-Light';
  src: url('./assets/fonts/DMSans_24pt-Light.ttf');
}

@font-face {
  font-family: 'DMSans_24pt-Regular';
  src: url('./assets/fonts/DMSans_24pt-Regular.ttf');
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 button {
   font-family: 'DMSans_24pt-Bold';
 }

 span,
 p,
 div {
   font-family: 'DMSans_24pt-Regular';
 }

 small {
   font-family: 'DMSans_24pt-Light';
 }